@import url("https://rsms.me/inter/inter.css");

html {
  font-family: "Inter", sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: rebeccapurple;
  color: #071723;
}

.box {
  background-color: #f2f2f2;
  box-shadow: 10px 22px 34px 0 rgba(0, 0, 0, 0.5);
  margin: 20px auto;
  overflow: hidden;
  width: 560px;
  height: 796px;
}


.header{
    margin-bottom: 32px;
}

div.fieldset, .fieldset textarea{
    margin-bottom: 16px;
}

.label {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 7px;
}

.header {
  background: url(images/header.png) center right no-repeat;
  background-size: cover;
  height: 187px;
  padding: 23px 36px;
  width: 100%;
}

.header .title {
  display: flex;
  flex-direction: column;
  color: #fff;
  font-size: 23px;
  font-weight: 300;
}

span:last-child{
  font-weight: bold;
}

.header .title span {
  font-size: 24px;
  line-height: 1.46;
}

.form textarea {
  background: #dde3e9;
  border: 1px solid #2f3676;
  color: #071723;
  height: 140px;
  padding: 16px;
  resize: none;
  width: 100%;
  font-size: 14px;
  line-height: 24px;
  font-family: Inter;
}

.fieldset {
  display: flex;
  flex-direction: column;
  padding: 0 32px;
}


/* Customize the label (the container) */
.container {
display: flex;
align-items: center;
font-size: 14px;
/* line-height: 24px; */
}

    /* Hide the browser's default checkbox */
    .container input {
    position: relative;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    }

        /* Create a custom checkbox */
        .checkmark {
        display: flex;
        height: 24px;
        width: 24px;
        border-radius: 4px;
        margin-right: 10px;
        background-color: #2F3676;
        align-items: center;
        justify-content: center;
        }

            /* On mouse-over, add a grey background color */
            .container:hover input ~ .checkmark {
            background-color: #191847;;
            }

                /* Create the checkmark/indicator (hidden when not checked) */
                .checkmark:after {
                content: "";
                display: none;
                }

                    /* Show the checkmark when checked */
                    .container input:checked ~ .checkmark:after {
                    display: flex;
                    align-content: center;
                    justify-content: center;
                    }

                        /* Style the checkmark/indicator */
                        .container .checkmark:after {
                        width: 10px;
                        height: 5px;
                        border: solid white;
                        border-width: 0 0 3px 3px;
                        transform: rotate(-45deg);
                        }


.counter{
    display: flex;
    height: 42px;
}

.counter svg {
    fill: #2f3676;
  }

.counter svg:hover{
    fill: #191847;
}

.counter .controler {
  background: #dde3e9;
  border: 1px solid #2f3676;
  font-size: 20px;
  font-weight: bold;
  margin: 0 8px;
  width: 60px;
  text-align: center;
}


.counter{
  border: none;
  background: none;
}
.footer {
  padding: 32px;
  background: #dde3e9;
  display: flex;
  justify-content: flex-end;
}

.footer button {
  appearance: none;
  background: #2f3676;
  border: 0;
  color: #fff;
  padding: 10px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 8px 32px;
}

.footer button:focus,
.footer button:hover{
  background: #191847;
}


.fieldset .container, button{
    cursor: pointer;
}



.box, .form textarea, .counter, .counter .controler{
	border-radius: 8px;
}